<p>leadership works!</p>
<section class="secondary-hero">
  <div class="container">
    <h1>Executive Team</h1>
    <p>
      Our accomplished leadership team is at the forefront of SoftXchange
      Technologies, <span class="br"></span> guiding us with their deep industry
      knowledge and expertise.
    </p>
  </div>
</section>
<section class="leadership">
  <div class="container">
    <div class="card-wrapper">
      <div class="card-single">
        <div class="card-img">
          <img src="./assets/img/leadership.jpg" alt="leadership image" />
        </div>
        <div class="card-content">
          <h4>Jacob Jones</h4>
          <p>Co-Founder and Chief Executive Officer</p>
        </div>
      </div>
      <div class="card-single">
        <div class="card-img">
          <img src="./assets/img/leadership2.jpg" alt="leadership image" />
        </div>
        <div class="card-content">
          <h4>Kristin Watson</h4>
          <p>Co-Founder and Chief Financial Officer</p>
        </div>
      </div>
      <div class="card-single">
        <div class="card-img">
          <img src="./assets/img/leadership3.jpg" alt="leadership image" />
        </div>
        <div class="card-content">
          <h4>Floyd Miles</h4>
          <p>Chief Operating Officer</p>
        </div>
      </div>
      <div class="card-single">
        <div class="card-img">
          <img src="./assets/img/leadership4.jpg" alt="leadership image" />
        </div>
        <div class="card-content">
          <h4>Jane Cooper</h4>
          <p>Head of Growth</p>
        </div>
      </div>
      <div class="card-single">
        <div class="card-img">
          <img src="./assets/img/leadership5.jpg" alt="leadership image" />
        </div>
        <div class="card-content">
          <h4>Ronald Richards</h4>
          <p>Director of Product Engineering</p>
        </div>
      </div>
      <div class="card-single">
        <div class="card-img">
          <img src="./assets/img/leadership6.jpg" alt="leadership image" />
        </div>
        <div class="card-content">
          <h4>Brooklyn Simmons</h4>
          <p>Product Owner</p>
        </div>
      </div>
      <div class="card-single">
        <div class="card-img">
          <img src="./assets/img/leadership7.jpg" alt="leadership image" />
        </div>
        <div class="card-content">
          <h4>Guy Hawkins</h4>
          <p>Director of Professional Services</p>
        </div>
      </div>
      <div class="card-single">
        <div class="card-img">
          <img src="./assets/img/leadership8.jpg" alt="leadership image" />
        </div>
        <div class="card-content">
          <h4>Bessie Cooper</h4>
          <p>Client Engagement Manager</p>
        </div>
      </div>
      <div class="card-single">
        <div class="card-img">
          <img src="./assets/img/leadership9.jpg" alt="leadership image" />
        </div>
        <div class="card-content">
          <h4>Leslie Alexander</h4>
          <p>Director of Information Security</p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-contact
  [title]="'SoftXchange Simplifying Exchange Endeavors'"
  [content]="
    'Explore how we empowers exchange operators across diverse markets and assets.'
  "
></app-contact>
