<header>
  <div class="container">
    <a routerLink="/"
      ><img src="./assets/img/logo.png" class="brand-logo" alt="brand-logo"
    /></a>
    <nav [ngClass]="isActive ? 'active' : ''">
      <ul class="nav-ul">
        <li class="nav-li">
          <a href="#" class="nav-link" (click)="openDropDownNav()"
            >solutions
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="down-svg"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
              />
            </svg>
          </a>
          <div
            class="dropdown-content"
            [ngClass]="!isdropDownContent ? '' : 'dropdown-content-active'"
          >
            <ul class="dropdown-ul">
              <li>
                <a (click)="closeNavMenuNavigate('/features')"
                  >Features &amp; Functionality</a
                >
              </li>
              <li>
                <a (click)="closeNavMenuNavigate('/api')"
                  >APIs &amp; Integrations</a
                >
              </li>
              <li>
                <a (click)="closeNavMenuNavigate('/market-surveillance')"
                  >Market Surveillance</a
                >
              </li>
            </ul>
          </div>
          <div class="dropdown-nav">
            <ul class="dropdown-ul">
              <li>
                <a routerLink="/features">Features &amp; Functionality</a>
              </li>
              <li><a routerLink="/api">APIs &amp; Integrations</a></li>
              <li>
                <a routerLink="/market-surveillance">Market Surveillance</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-li">
          <a href="#" class="nav-link2" (click)="openDropDownNavTwo()"
            >services
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="down-svg"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
              />
            </svg>
          </a>
          <div
            class="dropdown-content dropdown-content2"
            [ngClass]="
              !isdropDownContentTwo ? '' : 'dropdown-content-active-two'
            "
          >
            <ul class="dropdown-ul">
              <li>
                <a (click)="closeNavMenuNavigate('/professional-services')"
                  >Professional Services</a
                >
              </li>
              <li>
                <a (click)="closeNavMenuNavigate('/support-services')"
                  >Support Services</a
                >
              </li>
            </ul>
          </div>
          <div class="dropdown-nav">
            <ul class="dropdown-ul">
              <li>
                <a routerLink="/professional-services">Professional Services</a>
              </li>
              <li>
                <a routerLink="/support-services">Support Services</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-li">
          <a href="#" class="nav-link3" (click)="openDropDownNavThree()"
            >resources
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="down-svg"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
              />
            </svg>
          </a>
          <div
            class="dropdown-content dropdown-content3"
            [ngClass]="
              !isdropDownContentThree ? '' : 'dropdown-content-active-three'
            "
          >
            <ul class="dropdown-ul">
              <li>
                <a (click)="closeNavMenuNavigate('/news')"
                  >News &amp; Insights</a
                >
              </li>
              <li>
                <a (click)="closeNavMenuNavigate('/case-studies')"
                  >Case Studies</a
                >
              </li>
            </ul>
          </div>
          <div class="dropdown-nav">
            <ul class="dropdown-ul">
              <li><a routerLink="/news">News &amp; Insights</a></li>
              <li><a routerLink="/case-studies">Case Studies</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-li">
          <a href="#" class="nav-link4" (click)="openDropDownNavFour()"
            >company
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="down-svg"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
              />
            </svg>
          </a>
          <div
            class="dropdown-content dropdown-content4"
            [ngClass]="
              !isdropDownContentFour ? '' : 'dropdown-content-active-four'
            "
          >
            <ul class="dropdown-ul">
              <li><a (click)="closeNavMenuNavigate('/about')">About Us</a></li>
              <li>
                <a (click)="closeNavMenuNavigate('/leadership')">Leadership</a>
              </li>
              <li><a (click)="closeNavMenuNavigate('/career')">Careers</a></li>
            </ul>
          </div>
          <div class="dropdown-nav">
            <ul class="dropdown-ul">
              <li><a routerLink="/about">About Us</a></li>
              <li><a routerLink="/leadership">Leadership</a></li>
              <li><a routerLink="/career">Careers</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <a routerLink="/contact" class="btn btn-primary">contact us</a>
      <svg
        (click)="closeNavMenu()"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="close-btn"
        viewBox="0 0 16 16"
      >
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"
        />
      </svg>
    </nav>
    <svg
      (click)="openNavMenu()"
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      class="bar"
      fill="currentColor"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
      />
    </svg>
  </div>
</header>
