<section class="case-studies-single">
  <div class="container">
    <h1>
      Shaping the Financial Landscape: Unveiling the American
      <span class="br"></span> Financial Exchange
    </h1>
    <p>
      This case study unveils a narrative of collaboration, innovation, and the
      power of a strategic partnership that has empowered American Financial
      Exchange to navigate challenges, drive efficiency, and achieve remarkable
      outcomes in the financial landscape.
    </p>
    <div class="case-studies-single-wrapper">
      <div class="case-studies-single-left">
        <a routerLink="#the-client">The Client</a>
        <a routerLink="#the-challenge">The Challenge</a>
        <a routerLink="#the-solution">The Solution</a>
        <a routerLink="#the-results">The Results</a>
      </div>
      <div class="case-studies-single-right">
        <h3 id="the-client">The Client</h3>
        <p>
          American Financial Exchange (AFX) is a self-regulated exchange founded
          in 2015, providing an open, rule-based electronic platform for direct
          interbank lending and borrowing among American financial institutions.
          AFX's product portfolio includes various offerings like overnight and
          30-day unsecured loans, 7-day secured loans, and demand deposits.
          <span class="br"></span>
          These products are designed to enhance transparency and efficiency in
          the interbank lending market. AFX boasts over 150 members spanning 49
          U.S. states and territories, along with numerous participants within
          the correspondent bank market, further strengthening its role in the
          financial landscape.
        </p>
        <div class="case-studies-single-img">
          <img
            src="/assets/img/success-stories.jpg"
            alt="case studies single img"
          />
        </div>
        <span class="border"></span>
        <h3 id="the-challenge">The Challenge</h3>
        <p>
          In its early stages, AFX, a promising startup, faced the crucial
          challenge of finding a technology partner capable of delivering a
          secure and production-ready exchange platform while navigating
          constraints such as time, budget, and evolving requirements.
          <span class="br"></span>
          Although AFX possessed a clear vision and strategic direction, it
          sought assistance in translating this vision into a tangible,
          executable plan aimed at achieving its first trade. SoftXchange's two
          decades of expertise in capital markets Software delivery and nearly a
          decade of specialization in designing and constructing adaptable
          matching engine and exchange solutions made it the optimal choice
          during AFX’s vendor selection process. This partnership set the stage
          for AFX's journey toward success.
        </p>
        <span class="border"></span>
        <h3 id="the-solution">The Solution</h3>
        <p>
          During the initial engagement between SoftXchange and the AFX product
          team, SoftXchange's extensive experience took center stage. They
          devised a comprehensive strategy that encompassed the requirements for
          an initial exchange platform, a roadmap for future enhancements, and a
          post-launch support and maintenance program. <span class="br"></span>A
          crucial element of a successful implementation is the precise
          definition of features and requirements for the initial deployment.
          AFX sought SoftXchange's expertise in articulating the essential
          features and requirements for the platform's launch. The two teams
          worked closely to define and document these features, resulting in
          several artifacts, including a prioritized feature list with a strong
          focus on the launch phase. They also crafted a Product Roadmap that
          outlined delivery milestones, complete with time and cost estimates,
          leading up to the launch and beyond. <span class="br"></span>With the
          plan in place, SoftXchange initiated the solution's implementation,
          combining the development of new custom-built components with
          refinements to existing SoftXchange proprietary Software. The
          implementation adhered to SoftXchange's agile development
          methodologies, incorporating practices such as test-driven
          development, automated testing, and continuous integration.
          SoftXchange maintained close monitoring of the team's velocity and
          ensured transparent communication with AFX. They calculated release
          dates for ongoing milestones, offering the transparency and assurance
          needed by AFX to design marketing strategies and customer onboarding
          campaigns before the exchange's launch.
          <span class="br"></span> SoftXchange successfully delivered the AFX
          exchange platform, fully prepared for launch, in December 2015. They
          continue to provide ongoing engineering support and platform
          maintenance, safeguarding the exchange's sustained functionality and
          success.
        </p>
        <span class="border"></span>
        <h3 id="the-results">The Results</h3>
        <p>
          Through its experience and advanced technology, SoftXchange played a
          pivotal role in assisting AFX in achieving its two core strategic
          objectives:
        </p>
        <ul class="case-studies-single-ul">
          <li>
            Creating an efficient and organized centralized marketplace that
            facilitates cost-effective "price discovery" of interbank lending
            rates.
          </li>
          <li>
            Establishing new interest rate benchmarks tailored to the specific
            requirements of small, medium, and regional banks across the United
            States.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<app-contact
  [title]="'SoftXchange Simplifying Exchange Endeavors'"
  [content]="
    'Explore how we empowers exchange operators across diverse markets and assets.'
  "
></app-contact>
