<section class="secondary-hero">
  <div class="container">
    <h1>
      Stay Updated with Our Latest News <span class="br"></span> and Technology
      Advancements
    </h1>
    <p>
      Whether you're an investor, trader, or financial professional, our news
      provides valuable perspectives,
      <span class="br"></span> analysis, and updates to help you make informed
      decisions in today's dynamic markets.
    </p>
  </div>
</section>
<app-featured-in></app-featured-in>
<section class="news-platform-features api-platform-features">
  <div class="container">
    <div class="card-wrapper">
      <div class="card-single">
        <div class="card-img-area">
          <img src="/assets/img/stories.jpg" alt="stories image" />
        </div>
        <div class="card-content">
          <h4>
            SoftXchange Tech Joins Forces with the Environmental Markets
            Association
          </h4>
          <a routerLink="/news-single" class="btn-tertiary"
            >Learn more<svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M12.6492 11.9751L7.69922 7.0251L9.37422 5.3501L15.9992 11.9751L9.37422 18.6001L7.69922 16.9251L12.6492 11.9751Z"
                fill="#0553F0"
              /></svg
          ></a>
        </div>
      </div>
      <div class="card-single">
        <div class="card-img-area">
          <img src="/assets/img/stories2.jpg" alt="platform image" />
        </div>
        <div class="card-content">
          <h4>
            BEE4 Chooses SoftXchange Technologies' to Bridge Emerging Firms with
            Visionary Investors
          </h4>
          <a routerLink="/news-single" class="btn-tertiary"
            >Learn more<svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M12.6492 11.9751L7.69922 7.0251L9.37422 5.3501L15.9992 11.9751L9.37422 18.6001L7.69922 16.9251L12.6492 11.9751Z"
                fill="#0553F0"
              /></svg
          ></a>
        </div>
      </div>
      <div class="card-single">
        <div class="card-img-area">
          <img src="/assets/img/stories3.jpg" alt="platform image" />
        </div>
        <div class="card-content">
          <h4>
            SoftXchange Tech Strengthens Industry Presence as Member of
            Association of Futures Markets
          </h4>
          <a routerLink="/news-single" class="btn-tertiary"
            >Learn more<svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M12.6492 11.9751L7.69922 7.0251L9.37422 5.3501L15.9992 11.9751L9.37422 18.6001L7.69922 16.9251L12.6492 11.9751Z"
                fill="#0553F0"
              /></svg
          ></a>
        </div>
      </div>
      <div class="card-single">
        <div class="card-img-area">
          <img src="/assets/img/stories4.jpg" alt="stories image" />
        </div>
        <div class="card-content">
          <h4>
            TeraExchange Adopts EP3 Platform by SoftXchange Technologies to
            Drive Swap Execution Facility
          </h4>
          <a routerLink="/news-single" class="btn-tertiary"
            >Learn more<svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M12.6492 11.9751L7.69922 7.0251L9.37422 5.3501L15.9992 11.9751L9.37422 18.6001L7.69922 16.9251L12.6492 11.9751Z"
                fill="#0553F0"
              /></svg
          ></a>
        </div>
      </div>
      <div class="card-single">
        <div class="card-img-area">
          <img src="/assets/img/stories5.jpg" alt="platform image" />
        </div>
        <div class="card-content">
          <h4>
            The Limitations of Off-the-Shelf Exchange Solutions and Why They May
            Not Suffice
          </h4>
          <a routerLink="/news-single" class="btn-tertiary"
            >Learn more<svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M12.6492 11.9751L7.69922 7.0251L9.37422 5.3501L15.9992 11.9751L9.37422 18.6001L7.69922 16.9251L12.6492 11.9751Z"
                fill="#0553F0"
              /></svg
          ></a>
        </div>
      </div>
      <div class="card-single">
        <div class="card-img-area">
          <img src="/assets/img/stories6.jpg" alt="platform image" />
        </div>
        <div class="card-content">
          <h4>
            Unlocking Success: Tried-and-Tested Strategies for an Expedited
            Exchange Launch
          </h4>
          <a routerLink="/news-single" class="btn-tertiary"
            >Learn more<svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M12.6492 11.9751L7.69922 7.0251L9.37422 5.3501L15.9992 11.9751L9.37422 18.6001L7.69922 16.9251L12.6492 11.9751Z"
                fill="#0553F0"
              /></svg
          ></a>
        </div>
      </div>
      <div class="card-single">
        <div class="card-img-area">
          <img src="/assets/img/stories7.jpg" alt="stories image" />
        </div>
        <div class="card-content">
          <h4>
            Crafting Superior Exchanges: The Crucial Role of Our Discovery
            Process in Preparing for Success
          </h4>
          <a routerLink="/news-single" class="btn-tertiary"
            >Learn more<svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M12.6492 11.9751L7.69922 7.0251L9.37422 5.3501L15.9992 11.9751L9.37422 18.6001L7.69922 16.9251L12.6492 11.9751Z"
                fill="#0553F0"
              /></svg
          ></a>
        </div>
      </div>
      <div class="card-single">
        <div class="card-img-area">
          <img src="/assets/img/stories8.jpg" alt="platform image" />
        </div>
        <div class="card-content">
          <h4>
            SoftXchange's Jobs API: Revolutionizing Exchange Platform Software
            Operations
          </h4>
          <a routerLink="/news-single" class="btn-tertiary"
            >Learn more<svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M12.6492 11.9751L7.69922 7.0251L9.37422 5.3501L15.9992 11.9751L9.37422 18.6001L7.69922 16.9251L12.6492 11.9751Z"
                fill="#0553F0"
              /></svg
          ></a>
        </div>
      </div>
      <div class="card-single">
        <div class="card-img-area">
          <img src="/assets/img/stories9.jpg" alt="platform image" />
        </div>
        <div class="card-content">
          <h4>
            Exchange Ecosystem Unraveling the Intricacies Beneath Seemingly
            Simple Transactions
          </h4>
          <a routerLink="/news-single" class="btn-tertiary"
            >Learn more<svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M12.6492 11.9751L7.69922 7.0251L9.37422 5.3501L15.9992 11.9751L9.37422 18.6001L7.69922 16.9251L12.6492 11.9751Z"
                fill="#0553F0"
              /></svg
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
<app-contact
  [title]="'SoftXchange Simplifying Exchange Endeavors'"
  [content]="
    'Explore how we empowers exchange operators across diverse markets and assets.'
  "
></app-contact>
