<section class="secondary-hero">
  <div class="container">
    <h1>Real-World Case Studies for Trading Enterprises</h1>
    <p>
      Real Success Stories Empowering Diverse Businesses to Thrive with
      SoftXchange <span class="br"></span> Technologies' Advanced Exchange
      Platform and Matching Engine"
    </p>
  </div>
</section>
<app-featured-in></app-featured-in>
<section class="stories case-studies-stories">
  <div class="container">
    <div class="stories-wrapper stories-top">
      <div class="stories-img">
        <img src="/assets/img/success-stories.jpg" alt="success stories" />
      </div>
      <div class="stories-content">
        <h3>
          Shaping the Financial Landscape: Unveiling the American Financial
          Exchange
        </h3>
        <p>
          This case study unveils a narrative of collaboration, innovation, and
          the power of a strategic partnership that has empowered American
          Financial Exchange to navigate challenges, drive efficiency, and
          achieve remarkable outcomes in the financial landscape.
        </p>
        <a routerLink="/case-studies-single" class="btn-tertiary"
          >Learn more<svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12.6502 11.975L7.7002 7.025L9.3752 5.35L16.0002 11.975L9.3752 18.6L7.7002 16.925L12.6502 11.975Z"
              fill="#0553F0"
            /></svg
        ></a>
      </div>
    </div>
    <div class="stories-wrapper stories-wrapper-bottom">
      <div class="stories-img">
        <img src="/assets/img/success-stories2.jpg" alt="success stories" />
      </div>
      <div class="stories-content">
        <h3>
          Navigating Success: Unveiling the Triumph of APAC Bourse's On-Prem
          Exchange Platform
        </h3>
        <p>
          Discover how APAC Bourse leveraged cutting-edge innovations to
          navigate challenges, capitalize on opportunities, and drive
          unprecedented growth in the exchange landscape. The power of
          partnership, innovation, and the on achieving remarkable outcomes.
        </p>
        <a routerLink="/case-studies-single" class="btn-tertiary"
          >Learn more<svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12.6502 11.975L7.7002 7.025L9.3752 5.35L16.0002 11.975L9.3752 18.6L7.7002 16.925L12.6502 11.975Z"
              fill="#0553F0"
            /></svg
        ></a>
      </div>
    </div>
    <div class="stories-wrapper stories-wrapper-bottom">
      <div class="stories-img">
        <img src="/assets/img/success-stories3.jpg" alt="success stories" />
      </div>
      <div class="stories-content">
        <h3>
          MaterialsXchange: Transforming Commodity Trading with Advanced
          Exchange Solutions
        </h3>
        <p>
          This case study delves into real-world success, showcasing how
          MaterialsXchange, regardless of its size and unique needs, has
          harnessed the power of SoftXchange's cutting-edge exchange platform
          and matching engine.
        </p>
        <a routerLink="/case-studies-single" class="btn-tertiary"
          >Learn more<svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12.6502 11.975L7.7002 7.025L9.3752 5.35L16.0002 11.975L9.3752 18.6L7.7002 16.925L12.6502 11.975Z"
              fill="#0553F0"
            /></svg
        ></a>
      </div>
    </div>
    <div class="stories-wrapper stories-wrapper-bottom">
      <div class="stories-img">
        <img src="/assets/img/success-stories4.jpg" alt="success stories" />
      </div>
      <div class="stories-content">
        <h3>
          TeraExchange: Pioneering Swap Execution Facility with Advanced
          Exchange Platform
        </h3>
        <p>
          Discover how APAC Bourse leveraged cutting-edge innovations to
          navigate challenges, capitalize on opportunities, and drive
          unprecedented growth in the exchange landscape. The power of
          partnership, innovation, and the on achieving remarkable outcomes.
        </p>
        <a routerLink="/case-studies-single" class="btn-tertiary"
          >Learn more<svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12.6502 11.975L7.7002 7.025L9.3752 5.35L16.0002 11.975L9.3752 18.6L7.7002 16.925L12.6502 11.975Z"
              fill="#0553F0"
            /></svg
        ></a>
      </div>
    </div>
  </div>
</section>
<app-contact
  [title]="'SoftXchange Simplifying Exchange Endeavors'"
  [content]="
    'Explore how we empowers exchange operators across diverse markets and assets.'
  "
></app-contact>
