<section class="featured">
  <div class="container">
    <h5 class="featured-title">
      Preferred by over 50,000 top-tier enterprises
    </h5>
    <div class="group-brand">
      <img src="/assets/img/group-brand.png" alt="group brand logo" />
      <img src="/assets/img/group-brand2.png" alt="group brand logo" />
      <img src="/assets/img/group-brand3.png" alt="group brand logo" />
      <img src="/assets/img/group-brand4.png" alt="group brand logo" />
      <img src="/assets/img/group-brand5.png" alt="group brand logo" />
      <img src="/assets/img/group-brand6.png" alt="group brand logo" />
    </div>
  </div>
</section>
