<section class="secondary-hero">
  <div class="container">
    <h1>Accessible Support Services for Your Convenience</h1>
    <p>
      Reliable 24/7 Technical Support Our team of SoftXchange experts is just a
      call away, ensuring Soft <span class="br"></span> issue resolution with a
      deep understanding of your capital market needs.
    </p>
  </div>
</section>
<app-featured-in></app-featured-in>
<section class="performance">
  <div class="container">
    <div class="heading-wrapper">
      <h2>SoftXchange Your Reliable Support System</h2>
      <p>
        Your 24/7 Lifeline for EP3 Support. Connect directly with our capital
        market experts <span class="br"></span>for soft issue resolution.
      </p>
    </div>
    <div class="performance-wrapper-top">
      <div class="performance-wrap performance-left">
        <div class="performance-img-area">
          <img src="/assets/img/performance-bg3.jpg" alt="performance bg" />
        </div>
      </div>
      <div class="performance-wrap performance-right">
        <h3>Always Available 24/7 Technical Support</h3>
        <p>
          At SoftXchange, we understand that the world of financial exchanges
          operates around the clock, and so should our support services. Our
          24/7 Technical Support is more than just a helpline; it's your
          lifeline to uninterrupted operations. When you encounter an issue,
          there's no need to fret about downtime or delays. Our dedicated team
          of experts, intimately familiar with the ins and outs of EP3, the
          heart of our exchange platform, is ready to assist you around the
          clock.
        </p>
        <p>
          You won't be talking to generic customer service agents; you'll be in
          direct contact with the very individuals who played a pivotal role in
          crafting EP3. This direct line of communication ensures that your
          challenges are understood and resolved with the precision and urgency
          they deserve. With SoftXchange's 24/7 Technical Support, you can
          navigate the intricate landscape of financial markets with confidence,
          knowing that a reliable partner has your back, day or night.
        </p>
      </div>
    </div>
    <div class="performance-wrapper-bottom">
      <div class="performance-wrap performance-left">
        <h3>Direct Access to Experts Tailored Solutions and Expert Guidance</h3>
        <p>
          Unlock the full potential of EP3 with direct access to our team of
          experts. When you partner with SoftXchange, you gain personalized
          guidance from professionals who intimately understand the intricacies
          of EP3's advanced technology.
        </p>
        <p>
          Our experts provide tailored solutions and expert guidance, ensuring
          your questions are addressed with the utmost expertise and precision.
          With our dedicated support, you'll never feel lost or disconnected. We
          speak your language and are committed to solving your challenges
          efficiently, helping you make the most of your EP3 experience.
        </p>
      </div>
      <div class="performance-wrap performance-right">
        <div class="performance-img-area">
          <img src="/assets/img/performance-bg4.jpg" alt="performance bg" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="timeline performance">
  <div class="container">
    <div class="heading-wrapper">
      <h2>The Path of the Customer</h2>
      <p>
        Discover the Key Elements of SoftXchange Technologies' Process
        <span class="br"></span> and Their Role in Achieving Success.
      </p>
    </div>
    <div class="timeline-wrapper">
      <div class="timeline-item">
        <div class="timeline-numb">
          <span>1</span>
        </div>
        <h3>Qualification</h3>
        <span class="performance-li">
          <img src="/assets/img/check.svg" alt="check icon" />Assess fit for
          both sides
        </span>
        <span class="performance-li">
          <img src="/assets/img/check.svg" alt="check icon" />Sign NDA
        </span>
        <span class="performance-li">
          <img src="/assets/img/check.svg" alt="check icon" />Demo
        </span>
        <span class="performance-li">
          <img src="/assets/img/check.svg" alt="check icon" />Gather high level
          requirements
        </span>
        <span class="performance-li performance-li-last">
          <img src="/assets/img/check.svg" alt="check icon" />Discuss Pricing
        </span>
      </div>
      <div class="timeline-item">
        <div class="timeline-numb">
          <span>2</span>
        </div>
        <h3>Discovery</h3>
        <span class="performance-li">
          <img src="/assets/img/check.svg" alt="check icon" />We Prepares
          details report covering all requirements
        </span>
        <span class="performance-li">
          <img src="/assets/img/check.svg" alt="check icon" />Includes diagrams,
          recommendations, and gap analysis
        </span>
      </div>
      <div class="timeline-item">
        <div class="timeline-numb">
          <span>3</span>
        </div>
        <h3>Implementation</h3>
        <span class="performance-li">
          <img
            src="/assets/img/check.svg"
            alt="check icon"
          />Training/Onboarding
        </span>
        <span class="performance-li">
          <img src="/assets/img/check.svg" alt="check icon" />Testing
          Environment
        </span>
        <span class="performance-li">
          <img src="/assets/img/check.svg" alt="check icon" />Custom Development
        </span>
        <span class="performance-li">
          <img src="/assets/img/check.svg" alt="check icon" />Exchange
          operational handoff
        </span>
        <span class="performance-li performance-li-last">
          <img src="/assets/img/check.svg" alt="check icon" />Pre-production
          support
        </span>
      </div>
      <div class="timeline-item">
        <div class="timeline-numb">
          <span>4</span>
        </div>
        <h3>Production</h3>
        <span class="performance-li">
          <img src="/assets/img/check.svg" alt="check icon" />Dedicated account
          manager
        </span>
        <span class="performance-li">
          <img src="/assets/img/check.svg" alt="check icon" />Customized support
          model
        </span>
        <span class="performance-li">
          <img src="/assets/img/check.svg" alt="check icon" />Product updates
        </span>
      </div>
    </div>
  </div>
</section>
<app-contact
  [title]="'SoftXchange Simplifying Exchange Endeavors'"
  [content]="
    'Explore how we empowers exchange operators across diverse markets and assets.'
  "
></app-contact>
